In [5]:
import os.path

import pandas as pd
from helper.helper import date_range_to_string
from Config import config

config.processing_date_range = date_range_to_string(start=pd.to_datetime('03-01-24'),
                                                    end=pd.to_datetime('09-01-24'))
n_mt_ohlcv = pd.read_csv(
    os.path.join(r"C:\Code\dl-forcasting\data", 
                 f"n_mt_ohlcv.{config.processing_date_range}.csv.zip"), compression='zip')
n_mt_ohlcv

,timeframe,date,open,close,high,low,volume
0,15min,2024-03-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN
1,1D,2024-03-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2,1h,2024-03-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN
3,1min,2024-03-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN
4,4h,2024-03-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
341347,1D,2024-09-01 00:00:00+00:00,-0.684385,-1.265078,-1.114403,-0.900461,0.298451
341348,1h,2024-09-01 00:00:00+00:00,-0.081138,-0.165222,-0.038223,-0.001254,-0.095335
341349,1min,2024-09-01 00:00:00+00:00,-0.018025,-0.275889,-0.122945,-0.169871,-0.171993
341350,4h,2024-09-01 00:00:00+00:00,-0.116954,-0.577484,-0.395726,-0.480249,0.044290
341351,5min,2024-09-01 00:00:00+00:00,0.019726,0.277921,0.054425,0.034553,-0.011040