In [1]:
from datetime import timedelta

import numpy as np
import pandas as pd
import plotly.graph_objects as go

from Config import config
from data_processing.ohlcv import read_multi_timeframe_ohlcv
from helper.data_preparation import single_timeframe
from helper.helper import date_range_to_string

DEBUG@10-03.18:04:32:...Starting

In [29]:
import os

n_mt_ohlcv = pd.read_csv(os.path.join(r"C:\Code\dl-forcasting\data\Kucoin\Spot\BTCUSDT",
                               f"n_mt_ohlcv.24-03-01.00-00T24-09-01.00-00.csv.zip"), parse_dates=['date'], compression='zip')
config.processing_date_range = '24-03-01.00-00T24-09-01.00-00'
n_mt_ohlcv

,timeframe,date,open,close,high,low,volume
0,15min,2024-03-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN
1,1D,2024-03-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN
2,1h,2024-03-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN
3,1min,2024-03-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN
4,4h,2024-03-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
341347,1D,2024-09-01 00:00:00+00:00,-0.684385,-1.265078,-1.114403,-0.900461,0.298451
341348,1h,2024-09-01 00:00:00+00:00,-0.081138,-0.165222,-0.038223,-0.001254,-0.095335
341349,1min,2024-09-01 00:00:00+00:00,-0.018025,-0.275889,-0.122945,-0.169871,-0.171993
341350,4h,2024-09-01 00:00:00+00:00,-0.116954,-0.577484,-0.395726,-0.480249,0.044290
341351,5min,2024-09-01 00:00:00+00:00,0.019726,0.277921,0.054425,0.034553,-0.011040

In [34]:
na_n_mt_ohlcv = n_mt_ohlcv[n_mt_ohlcv.isna().any(axis=1)]
end_of_nans = na_n_mt_ohlcv['date'].max()
end_of_nans

Timestamp('2024-05-20 00:00:00+0000', tz='UTC')

In [37]:
no_nan_n_mt_ohlcv = n_mt_ohlcv[ n_mt_ohlcv['date'] > end_of_nans]
no_nan_n_mt_ohlcv

,timeframe,date,open,close,high,low,volume
148418,1min,2024-05-20 00:01:00+00:00,-0.167760,-0.565577,-0.343654,-0.357794,-0.030649
148419,1min,2024-05-20 00:02:00+00:00,-0.507036,-0.611986,-0.654449,-0.479779,0.176402
148420,1min,2024-05-20 00:03:00+00:00,-0.723255,-1.421020,-0.531388,-1.244801,0.310774
148421,1min,2024-05-20 00:04:00+00:00,-1.398959,-0.977134,-1.174035,-1.022799,-0.218426
148422,1min,2024-05-20 00:05:00+00:00,-0.962370,-0.513302,-0.741274,-0.704919,-0.271016
...,...,...,...,...,...,...,...
341347,1D,2024-09-01 00:00:00+00:00,-0.684385,-1.265078,-1.114403,-0.900461,0.298451
341348,1h,2024-09-01 00:00:00+00:00,-0.081138,-0.165222,-0.038223,-0.001254,-0.095335
341349,1min,2024-09-01 00:00:00+00:00,-0.018025,-0.275889,-0.122945,-0.169871,-0.171993
341350,4h,2024-09-01 00:00:00+00:00,-0.116954,-0.577484,-0.395726,-0.480249,0.044290
341351,5min,2024-09-01 00:00:00+00:00,0.019726,0.277921,0.054425,0.034553,-0.011040

In [38]:
start  = no_nan_n_mt_ohlcv['date'].min()
end  = no_nan_n_mt_ohlcv['date'].max()
duration_minutes = (end - start) / timedelta(minutes=1)
max_gap_minutes = 2880 # 2×24×60
(start , end, duration_minutes)

(Timestamp('2024-05-20 00:01:00+0000', tz='UTC'),
 Timestamp('2024-09-01 00:00:00+0000', tz='UTC'),
 149759.0)

In [39]:
np.random.seed(42)
simulated_gap_starts = start + np.random.uniform(0, duration_minutes - max_gap_minutes, 100) * timedelta(minutes=1) 
simulated_gap_durations = np.random.uniform(1, max_gap_minutes, 100) * timedelta(minutes=1)
simulated_gap_ends = simulated_gap_starts + simulated_gap_durations
list(zip(simulated_gap_starts, simulated_gap_ends, simulated_gap_durations))

[(Timestamp('2024-06-27 04:53:04.686971+0000', tz='UTC'),
  Timestamp('2024-06-27 06:24:33.764507+0000', tz='UTC'),
  datetime.timedelta(seconds=5489, microseconds=77536)),
 (Timestamp('2024-08-24 23:20:57.996671+0000', tz='UTC'),
  Timestamp('2024-08-26 05:54:11.531113+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=23593, microseconds=534442)),
 (Timestamp('2024-08-02 15:55:32.290759+0000', tz='UTC'),
  Timestamp('2024-08-03 07:01:34.142930+0000', tz='UTC'),
  datetime.timedelta(seconds=54361, microseconds=852171)),
 (Timestamp('2024-07-20 01:31:21.570023+0000', tz='UTC'),
  Timestamp('2024-07-21 01:56:32.071215+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=1510, microseconds=501192)),
 (Timestamp('2024-06-04 21:56:51.713373+0000', tz='UTC'),
  Timestamp('2024-06-06 17:30:44.746079+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=70433, microseconds=32706)),
 (Timestamp('2024-06-04 21:53:19.149148+0000', tz='UTC'),
  Timestamp('2024-06-05 09:52:01.888811+0000', tz='UTC'),
  datetime.timedelta(seconds=43122, microseconds=739663)),
 (Timestamp('2024-05-25 22:12:15.772299+0000', tz='UTC'),
  Timestamp('2024-05-26 17:54:45.318424+0000', tz='UTC'),
  datetime.timedelta(seconds=70949, microseconds=546125)),
 (Timestamp('2024-08-16 08:24:05.166917+0000', tz='UTC'),
  Timestamp('2024-08-17 20:40:19.070589+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=44173, microseconds=903672)),
 (Timestamp('2024-07-20 07:32:10.308590+0000', tz='UTC'),
  Timestamp('2024-07-20 18:31:52.903697+0000', tz='UTC'),
  datetime.timedelta(seconds=39582, microseconds=595107)),
 (Timestamp('2024-07-31 05:21:59.529246+0000', tz='UTC'),
  Timestamp('2024-07-31 09:04:37.038870+0000', tz='UTC'),
  datetime.timedelta(seconds=13357, microseconds=509624)),
 (Timestamp('2024-05-22 02:24:25.796260+0000', tz='UTC'),
  Timestamp('2024-05-22 16:19:37.462236+0000', tz='UTC'),
  datetime.timedelta(seconds=50111, microseconds=665976)),
 (Timestamp('2024-08-26 22:20:23.350542+0000', tz='UTC'),
  Timestamp('2024-08-27 06:05:32.715702+0000', tz='UTC'),
  datetime.timedelta(seconds=27909, microseconds=365160)),
 (Timestamp('2024-08-12 21:49:20.558288+0000', tz='UTC'),
  Timestamp('2024-08-14 18:26:56.530754+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=74255, microseconds=972466)),
 (Timestamp('2024-06-10 15:49:09.374239+0000', tz='UTC'),
  Timestamp('2024-06-12 06:36:44.088605+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=53254, microseconds=714366)),
 (Timestamp('2024-06-07 13:07:16.161505+0000', tz='UTC'),
  Timestamp('2024-06-08 19:31:50.326405+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=23074, microseconds=164900)),
 (Timestamp('2024-06-07 16:59:16.260166+0000', tz='UTC'),
  Timestamp('2024-06-09 10:49:12.362515+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=64196, microseconds=102349)),
 (Timestamp('2024-06-20 00:47:47.784219+0000', tz='UTC'),
  Timestamp('2024-06-21 15:22:34.098783+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=52486, microseconds=314564)),
 (Timestamp('2024-07-12 12:36:41.995303+0000', tz='UTC'),
  Timestamp('2024-07-12 21:34:50.107275+0000', tz='UTC'),
  datetime.timedelta(seconds=32288, microseconds=111972)),
 (Timestamp('2024-07-03 01:24:39.143588+0000', tz='UTC'),
  Timestamp('2024-07-04 20:15:19.784987+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=67840, microseconds=641399)),
 (Timestamp('2024-06-18 16:56:26.692989+0000', tz='UTC'),
  Timestamp('2024-06-19 18:50:12.671858+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=6825, microseconds=978869)),
 (Timestamp('2024-07-21 09:49:20.479436+0000', tz='UTC'),
  Timestamp('2024-07-23 00:34:57.691839+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=53137, microseconds=212403)),
 (Timestamp('2024-06-03 05:29:43.125523+0000', tz='UTC'),
  Timestamp('2024-06-05 00:30:33.936672+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=68450, microseconds=811149)),
 (Timestamp('2024-06-18 19:10:54.829932+0000', tz='UTC'),
  Timestamp('2024-06-19 10:27:26.750199+0000', tz='UTC'),
  datetime.timedelta(seconds=54991, microseconds=920267)),
 (Timestamp('2024-06-26 08:51:51.670868+0000', tz='UTC'),
  Timestamp('2024-06-26 14:09:42.040311+0000', tz='UTC'),
  datetime.timedelta(seconds=19070, microseconds=369443)),
 (Timestamp('2024-07-05 12:28:06.192709+0000', tz='UTC'),
  Timestamp('2024-07-05 23:25:19.712686+0000', tz='UTC'),
  datetime.timedelta(seconds=39433, microseconds=519977)),
 (Timestamp('2024-08-08 02:06:51.602007+0000', tz='UTC'),
  Timestamp('2024-08-08 22:37:30.201414+0000', tz='UTC'),
  datetime.timedelta(seconds=73838, microseconds=599407)),
 (Timestamp('2024-06-09 08:48:53.126978+0000', tz='UTC'),
  Timestamp('2024-06-11 00:04:56.997643+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=54963, microseconds=870665)),
 (Timestamp('2024-07-11 10:51:14.404785+0000', tz='UTC'),
  Timestamp('2024-07-13 04:10:17.005737+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=62342, microseconds=600952)),
 (Timestamp('2024-07-19 10:14:15.567593+0000', tz='UTC'),
  Timestamp('2024-07-19 10:35:16.478621+0000', tz='UTC'),
  datetime.timedelta(seconds=1260, microseconds=911028)),
 (Timestamp('2024-05-24 17:43:35.410194+0000', tz='UTC'),
  Timestamp('2024-05-25 18:15:01.899241+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=1886, microseconds=489047)),
 (Timestamp('2024-07-20 23:16:34.818146+0000', tz='UTC'),
  Timestamp('2024-07-21 19:19:18.394830+0000', tz='UTC'),
  datetime.timedelta(seconds=72163, microseconds=576684)),
 (Timestamp('2024-06-06 09:27:24.765784+0000', tz='UTC'),
  Timestamp('2024-06-06 20:07:51.668965+0000', tz='UTC'),
  datetime.timedelta(seconds=38426, microseconds=903181)),
 (Timestamp('2024-05-26 15:15:42.775565+0000', tz='UTC'),
  Timestamp('2024-05-26 21:01:48.319118+0000', tz='UTC'),
  datetime.timedelta(seconds=20765, microseconds=543553)),
 (Timestamp('2024-08-24 18:52:21.529574+0000', tz='UTC'),
  Timestamp('2024-08-25 11:05:21.174282+0000', tz='UTC'),
  datetime.timedelta(seconds=58379, microseconds=644708)),
 (Timestamp('2024-08-26 11:52:04.043157+0000', tz='UTC'),
  Timestamp('2024-08-28 09:07:42.265411+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=76538, microseconds=222254)),
 (Timestamp('2024-08-10 10:57:35.645640+0000', tz='UTC'),
  Timestamp('2024-08-11 02:29:05.720117+0000', tz='UTC'),
  datetime.timedelta(seconds=55890, microseconds=74477)),
 (Timestamp('2024-06-20 01:42:21.948145+0000', tz='UTC'),
  Timestamp('2024-06-21 02:36:57.840145+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=3275, microseconds=892000)),
 (Timestamp('2024-05-29 23:06:58.945989+0000', tz='UTC'),
  Timestamp('2024-05-31 08:51:58.440949+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=35099, microseconds=494960)),
 (Timestamp('2024-07-28 19:00:27.762065+0000', tz='UTC'),
  Timestamp('2024-07-29 12:28:21.139580+0000', tz='UTC'),
  datetime.timedelta(seconds=62873, microseconds=377515)),
 (Timestamp('2024-07-03 21:30:09.487679+0000', tz='UTC'),
  Timestamp('2024-07-05 20:08:55.124648+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=81525, microseconds=636969)),
 (Timestamp('2024-06-01 10:45:51.233746+0000', tz='UTC'),
  Timestamp('2024-06-03 08:57:44.379474+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=79913, microseconds=145728)),
 (Timestamp('2024-07-09 12:12:05.362814+0000', tz='UTC'),
  Timestamp('2024-07-10 00:17:58.236595+0000', tz='UTC'),
  datetime.timedelta(seconds=43552, microseconds=873781)),
 (Timestamp('2024-05-23 12:11:57.095573+0000', tz='UTC'),
  Timestamp('2024-05-24 12:04:31.802481+0000', tz='UTC'),
  datetime.timedelta(seconds=85954, microseconds=706908)),
 (Timestamp('2024-08-20 18:01:04.280216+0000', tz='UTC'),
  Timestamp('2024-08-21 08:28:17.999454+0000', tz='UTC'),
  datetime.timedelta(seconds=52033, microseconds=719238)),
 (Timestamp('2024-06-15 09:30:20.695046+0000', tz='UTC'),
  Timestamp('2024-06-15 23:11:24.042045+0000', tz='UTC'),
  datetime.timedelta(seconds=49263, microseconds=346999)),
 (Timestamp('2024-07-26 13:51:36.636218+0000', tz='UTC'),
  Timestamp('2024-07-26 15:38:48.487504+0000', tz='UTC'),
  datetime.timedelta(seconds=6431, microseconds=851286)),
 (Timestamp('2024-06-20 19:04:48.668696+0000', tz='UTC'),
  Timestamp('2024-06-22 00:20:44.811748+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=18956, microseconds=143052)),
 (Timestamp('2024-07-12 01:08:04.252955+0000', tz='UTC'),
  Timestamp('2024-07-13 01:16:17.027428+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=492, microseconds=774473)),
 (Timestamp('2024-07-14 18:21:15.547180+0000', tz='UTC'),
  Timestamp('2024-07-14 20:50:27.986671+0000', tz='UTC'),
  datetime.timedelta(seconds=8952, microseconds=439491)),
 (Timestamp('2024-06-07 20:32:14.254388+0000', tz='UTC'),
  Timestamp('2024-06-08 09:55:27.644620+0000', tz='UTC'),
  datetime.timedelta(seconds=48193, microseconds=390232)),
 (Timestamp('2024-08-26 21:32:37.232486+0000', tz='UTC'),
  Timestamp('2024-08-28 17:08:31.081628+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=70553, microseconds=849142)),
 (Timestamp('2024-08-07 01:31:44.037747+0000', tz='UTC'),
  Timestamp('2024-08-07 13:02:25.958741+0000', tz='UTC'),
  datetime.timedelta(seconds=41441, microseconds=920994)),
 (Timestamp('2024-08-23 19:53:39.902280+0000', tz='UTC'),
  Timestamp('2024-08-24 02:51:49.042485+0000', tz='UTC'),
  datetime.timedelta(seconds=25089, microseconds=140205)),
 (Timestamp('2024-08-19 06:32:20.784208+0000', tz='UTC'),
  Timestamp('2024-08-20 06:02:28.854018+0000', tz='UTC'),
  datetime.timedelta(seconds=84608, microseconds=69810)),
 (Timestamp('2024-07-19 23:39:57.059268+0000', tz='UTC'),
  Timestamp('2024-07-21 22:58:38.318711+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=83921, microseconds=259443)),
 (Timestamp('2024-08-22 00:44:57.945958+0000', tz='UTC'),
  Timestamp('2024-08-22 12:22:50.573559+0000', tz='UTC'),
  datetime.timedelta(seconds=41872, microseconds=627601)),
 (Timestamp('2024-05-29 00:38:41.412533+0000', tz='UTC'),
  Timestamp('2024-05-30 08:54:46.106992+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=29764, microseconds=694459)),
 (Timestamp('2024-06-08 23:46:46.010956+0000', tz='UTC'),
  Timestamp('2024-06-10 12:20:28.183308+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=45222, microseconds=172352)),
 (Timestamp('2024-05-24 14:43:56.338073+0000', tz='UTC'),
  Timestamp('2024-05-25 02:09:05.847422+0000', tz='UTC'),
  datetime.timedelta(seconds=41109, microseconds=509349)),
 (Timestamp('2024-06-22 04:25:11.619131+0000', tz='UTC'),
  Timestamp('2024-06-23 15:22:43.711190+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=39452, microseconds=92059)),
 (Timestamp('2024-06-28 15:29:31.897938+0000', tz='UTC'),
  Timestamp('2024-06-29 09:09:22.756284+0000', tz='UTC'),
  datetime.timedelta(seconds=63590, microseconds=858346)),
 (Timestamp('2024-06-16 16:16:28.466275+0000', tz='UTC'),
  Timestamp('2024-06-17 22:37:52.975452+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=22884, microseconds=509177)),
 (Timestamp('2024-08-12 12:45:08.196404+0000', tz='UTC'),
  Timestamp('2024-08-13 19:10:04.118641+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=23095, microseconds=922237)),
 (Timestamp('2024-06-25 09:20:34.312286+0000', tz='UTC'),
  Timestamp('2024-06-26 11:04:04.031213+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=6209, microseconds=718927)),
 (Timestamp('2024-06-17 15:44:22.790902+0000', tz='UTC'),
  Timestamp('2024-06-17 20:05:19.445781+0000', tz='UTC'),
  datetime.timedelta(seconds=15656, microseconds=654879)),
 (Timestamp('2024-07-14 08:31:39.479892+0000', tz='UTC'),
  Timestamp('2024-07-16 00:37:29.632980+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=57950, microseconds=153088)),
 (Timestamp('2024-06-03 08:59:48.554404+0000', tz='UTC'),
  Timestamp('2024-06-04 00:24:20.102827+0000', tz='UTC'),
  datetime.timedelta(seconds=55471, microseconds=548423)),
 (Timestamp('2024-08-09 19:46:53.420170+0000', tz='UTC'),
  Timestamp('2024-08-10 04:44:52.627656+0000', tz='UTC'),
  datetime.timedelta(seconds=32279, microseconds=207486)),
 (Timestamp('2024-05-27 14:30:55.439582+0000', tz='UTC'),
  Timestamp('2024-05-27 16:29:18.937534+0000', tz='UTC'),
  datetime.timedelta(seconds=7103, microseconds=497952)),
 (Timestamp('2024-08-28 15:53:57.981657+0000', tz='UTC'),
  Timestamp('2024-08-29 20:16:08.828663+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=15730, microseconds=847006)),
 (Timestamp('2024-08-06 18:27:32.368171+0000', tz='UTC'),
  Timestamp('2024-08-08 02:59:14.836036+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=30702, microseconds=467865)),
 (Timestamp('2024-06-09 06:28:09.635283+0000', tz='UTC'),
  Timestamp('2024-06-09 07:16:55.016852+0000', tz='UTC'),
  datetime.timedelta(seconds=2925, microseconds=381569)),
 (Timestamp('2024-05-20 13:32:04.982460+0000', tz='UTC'),
  Timestamp('2024-05-21 14:07:23.937351+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=2118, microseconds=954891)),
 (Timestamp('2024-08-11 04:15:09.549001+0000', tz='UTC'),
  Timestamp('2024-08-11 15:08:14.429209+0000', tz='UTC'),
  datetime.timedelta(seconds=39184, microseconds=880208)),
 (Timestamp('2024-07-31 02:23:29.988420+0000', tz='UTC'),
  Timestamp('2024-08-01 09:21:57.136235+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=25107, microseconds=147815)),
 (Timestamp('2024-08-02 08:36:50.630082+0000', tz='UTC'),
  Timestamp('2024-08-02 16:59:50.687028+0000', tz='UTC'),
  datetime.timedelta(seconds=30180, microseconds=56946)),
 (Timestamp('2024-08-06 16:04:25.035053+0000', tz='UTC'),
  Timestamp('2024-08-08 01:14:37.619933+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=33012, microseconds=584880)),
 (Timestamp('2024-05-27 13:16:36.264123+0000', tz='UTC'),
  Timestamp('2024-05-28 07:51:00.927843+0000', tz='UTC'),
  datetime.timedelta(seconds=66864, microseconds=663720)),
 (Timestamp('2024-06-25 13:32:05.264571+0000', tz='UTC'),
  Timestamp('2024-06-27 10:29:56.002825+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=75470, microseconds=738254)),
 (Timestamp('2024-05-31 19:39:43.895639+0000', tz='UTC'),
  Timestamp('2024-06-01 02:16:39.263531+0000', tz='UTC'),
  datetime.timedelta(seconds=23815, microseconds=367892)),
 (Timestamp('2024-08-16 00:52:46.085351+0000', tz='UTC'),
  Timestamp('2024-08-16 17:15:41.886831+0000', tz='UTC'),
  datetime.timedelta(seconds=58975, microseconds=801480)),
 (Timestamp('2024-07-22 13:50:24.334218+0000', tz='UTC'),
  Timestamp('2024-07-22 19:18:05.750277+0000', tz='UTC'),
  datetime.timedelta(seconds=19661, microseconds=416059)),
 (Timestamp('2024-06-22 18:02:58.259540+0000', tz='UTC'),
  Timestamp('2024-06-24 14:26:09.835161+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=73391, microseconds=575621)),
 (Timestamp('2024-05-26 11:36:23.215900+0000', tz='UTC'),
  Timestamp('2024-05-28 05:43:14.815803+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=65211, microseconds=599903)),
 (Timestamp('2024-06-20 17:17:46.345876+0000', tz='UTC'),
  Timestamp('2024-06-21 05:41:23.182648+0000', tz='UTC'),
  datetime.timedelta(seconds=44616, microseconds=836772)),
 (Timestamp('2024-06-22 04:03:36.069358+0000', tz='UTC'),
  Timestamp('2024-06-23 11:44:41.713470+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=27665, microseconds=644112)),
 (Timestamp('2024-08-02 10:04:49.552087+0000', tz='UTC'),
  Timestamp('2024-08-04 01:18:36.514950+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=54826, microseconds=962863)),
 (Timestamp('2024-07-24 00:44:48.230111+0000', tz='UTC'),
  Timestamp('2024-07-25 03:24:13.618307+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=9565, microseconds=388196)),
 (Timestamp('2024-08-18 11:53:55.225012+0000', tz='UTC'),
  Timestamp('2024-08-19 13:19:47.065917+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=5151, microseconds=840905)),
 (Timestamp('2024-07-07 03:59:27.359572+0000', tz='UTC'),
  Timestamp('2024-07-07 15:36:44.924302+0000', tz='UTC'),
  datetime.timedelta(seconds=41837, microseconds=564730)),
 (Timestamp('2024-06-01 04:46:52.994950+0000', tz='UTC'),
  Timestamp('2024-06-01 09:15:55.567061+0000', tz='UTC'),
  datetime.timedelta(seconds=16142, microseconds=572111)),
 (Timestamp('2024-07-31 18:01:40.866152+0000', tz='UTC'),
  Timestamp('2024-08-02 13:05:45.916181+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=68645, microseconds=50029)),
 (Timestamp('2024-08-05 14:24:20.829348+0000', tz='UTC'),
  Timestamp('2024-08-07 09:37:39.044542+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=69198, microseconds=215194)),
 (Timestamp('2024-07-16 06:00:50.010109+0000', tz='UTC'),
  Timestamp('2024-07-17 12:24:31.955838+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=23021, microseconds=945729)),
 (Timestamp('2024-08-06 15:19:53.305473+0000', tz='UTC'),
  Timestamp('2024-08-07 07:36:57.311579+0000', tz='UTC'),
  datetime.timedelta(seconds=58624, microseconds=6106)),
 (Timestamp('2024-07-09 08:49:12.203904+0000', tz='UTC'),
  Timestamp('2024-07-10 01:35:34.665823+0000', tz='UTC'),
  datetime.timedelta(seconds=60382, microseconds=461919)),
 (Timestamp('2024-07-12 07:39:28.514808+0000', tz='UTC'),
  Timestamp('2024-07-13 18:30:30.098776+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=39061, microseconds=583968)),
 (Timestamp('2024-07-02 14:37:47.834129+0000', tz='UTC'),
  Timestamp('2024-07-04 09:41:34.660433+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=68626, microseconds=826304)),
 (Timestamp('2024-05-22 14:14:32.155023+0000', tz='UTC'),
  Timestamp('2024-05-24 08:49:27.463951+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=66895, microseconds=308928)),
 (Timestamp('2024-05-31 00:07:59.094321+0000', tz='UTC'),
  Timestamp('2024-06-01 13:34:14.796112+0000', tz='UTC'),
  datetime.timedelta(days=1, seconds=48375, microseconds=701791))]

In [40]:
no_nan_n_mt_ohlcv

,timeframe,date,open,close,high,low,volume
148418,1min,2024-05-20 00:01:00+00:00,-0.167760,-0.565577,-0.343654,-0.357794,-0.030649
148419,1min,2024-05-20 00:02:00+00:00,-0.507036,-0.611986,-0.654449,-0.479779,0.176402
148420,1min,2024-05-20 00:03:00+00:00,-0.723255,-1.421020,-0.531388,-1.244801,0.310774
148421,1min,2024-05-20 00:04:00+00:00,-1.398959,-0.977134,-1.174035,-1.022799,-0.218426
148422,1min,2024-05-20 00:05:00+00:00,-0.962370,-0.513302,-0.741274,-0.704919,-0.271016
...,...,...,...,...,...,...,...
341347,1D,2024-09-01 00:00:00+00:00,-0.684385,-1.265078,-1.114403,-0.900461,0.298451
341348,1h,2024-09-01 00:00:00+00:00,-0.081138,-0.165222,-0.038223,-0.001254,-0.095335
341349,1min,2024-09-01 00:00:00+00:00,-0.018025,-0.275889,-0.122945,-0.169871,-0.171993
341350,4h,2024-09-01 00:00:00+00:00,-0.116954,-0.577484,-0.395726,-0.480249,0.044290
341351,5min,2024-09-01 00:00:00+00:00,0.019726,0.277921,0.054425,0.034553,-0.011040

In [41]:
gapped_n_mt_ohlcv = no_nan_n_mt_ohlcv.copy()
for start, end in zip(simulated_gap_starts, simulated_gap_ends):
        gapped_n_mt_ohlcv = gapped_n_mt_ohlcv[~((gapped_n_mt_ohlcv['date'] >= start) & (gapped_n_mt_ohlcv['date'] <= end))]
gapped_n_mt_ohlcv

,timeframe,date,open,close,high,low,volume
148418,1min,2024-05-20 00:01:00+00:00,-0.167760,-0.565577,-0.343654,-0.357794,-0.030649
148419,1min,2024-05-20 00:02:00+00:00,-0.507036,-0.611986,-0.654449,-0.479779,0.176402
148420,1min,2024-05-20 00:03:00+00:00,-0.723255,-1.421020,-0.531388,-1.244801,0.310774
148421,1min,2024-05-20 00:04:00+00:00,-1.398959,-0.977134,-1.174035,-1.022799,-0.218426
148422,1min,2024-05-20 00:05:00+00:00,-0.962370,-0.513302,-0.741274,-0.704919,-0.271016
...,...,...,...,...,...,...,...
341347,1D,2024-09-01 00:00:00+00:00,-0.684385,-1.265078,-1.114403,-0.900461,0.298451
341348,1h,2024-09-01 00:00:00+00:00,-0.081138,-0.165222,-0.038223,-0.001254,-0.095335
341349,1min,2024-09-01 00:00:00+00:00,-0.018025,-0.275889,-0.122945,-0.169871,-0.171993
341350,4h,2024-09-01 00:00:00+00:00,-0.116954,-0.577484,-0.395726,-0.480249,0.044290
341351,5min,2024-09-01 00:00:00+00:00,0.019726,0.277921,0.054425,0.034553,-0.011040